.header {
  min-height: 667px;
  background-image: url('../../../../src/assets/banner.jpg');
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29.42px;
  position: relative;

  &__logo {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  h2 {
    margin: 0 15%;
    color: $yellow;
    font-family: Anton, sans-serif;
    font-size: clamp(24px, 4vw, 44px);
    text-align: center;
  }

  .searchbar {
    background-color: white;
    width: 70%;
    height: 72px;
    padding: 10px 10px 10px 35px;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    input {
      flex: 1;
      border: none;
      color: $darkgray;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      background-color: transparent;
    }

    &__glass {
      width: 51px;
      height: 52px;
      background-color: $black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
