.nbrecipes {
  position: absolute;
  top: 1rem;
  right: 0;
  font-family: Anton, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filters {
  display: flex;
  gap: 65px;

  &__selects {
    display: flex;
    gap: 65px;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 21px;

  &__btn {
    @extend %bgselect;
    gap: 15px;
    position: relative;

    button {
      padding: 17px 16px;
      border: none;
      background-color: transparent;
      color: $black;
      font-family: Manrope;
      font-size: 16px;
      display: flex;
      gap: 63px;
    }

    .arrow {
      margin-left: auto;
    }

    .showlist {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      max-height: 324px;
      overflow: hidden;
      @extend %bgselect;
      flex-direction: column;

      &.hidden {
        display: none;
      }

      input {
        margin: 0 16px 17px;
        min-height: 36px;
        background-image: url('../../../../src/assets/icons/search.svg');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        border: 1px solid $gray;
        &:focus {
          outline: none;
        }
      }

      &__items {
        display: flex;
        flex-direction: column;
        gap: 7px;

        & li {
          padding: 9px 16px;
          cursor: pointer;
        }
        & .selectable:hover {
          background-color: $yellow;
        }
        & .selected {
          background: $yellow;
        }
      }
    }
  }

  &__selected {
    display: flex;
    flex-direction: column;

    li {
      padding: 17px 18px;
      background-color: $yellow;
      border-radius: 10px;
      display: flex;

      span {
        flex: 1;
      }
      .btn-selected {
        padding: 0;
        background-color: transparent;
        border: none;
      }
    }
  }
}
