// Colors
$black: #1b1b1b;
$darkgray: #7a7a7a;
$gray: #c6c6c6;
$lightgray: #ededed;
$yellow: #ffd15b;

// Media breakpoints
$medium: 768px;
$large: 1024px;
$huge: 1200px;
// Media queries
$breakpoints: (
  'medium': (
    min-width: $medium,
  ),
  'large': (
    min-width: $large,
  ),
  'huge': (
    min-width: $huge,
  ),
);
