.filter__btn .showlist, .filter__btn {
  width: 195px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ededed;
  color: #1b1b1b;
  font-family: Manrope, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 21px auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 66px 0;
}

.card {
  width: 380px;
  background-color: white;
  border-radius: 21px;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
}
.card__time {
  position: absolute;
  top: 21px;
  right: 22px;
  background-color: #ffd15b;
  padding: 5px 15px;
  border-radius: 14px;
}
.card img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}
.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card__content h2 {
  font-family: Anton, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.card__content h3 {
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.card__content p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.components {
  display: grid;
  grid-template-columns: auto auto;
  gap: 21px;
}
.components h4 {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 500;
}
.components span {
  color: #7a7a7a;
  font-size: 14px;
}

.header {
  min-height: 667px;
  background-image: url("../../../../src/assets/banner.jpg");
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29.42px;
  position: relative;
}
.header__logo {
  position: absolute;
  top: 5%;
  left: 5%;
}
.header h2 {
  margin: 0 15%;
  color: #ffd15b;
  font-family: Anton, sans-serif;
  font-size: clamp(24px, 4vw, 44px);
  text-align: center;
}
.header .searchbar {
  background-color: white;
  width: 70%;
  height: 72px;
  padding: 10px 10px 10px 35px;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header .searchbar input {
  flex: 1;
  border: none;
  color: #7a7a7a;
  font-size: 16px;
}
.header .searchbar input:focus {
  outline: none;
}
.header .searchbar__glass {
  width: 51px;
  height: 52px;
  background-color: #1b1b1b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nbrecipes {
  position: absolute;
  top: 1rem;
  right: 0;
  font-family: Anton, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.filters {
  display: flex;
  gap: 65px;
}
.filters__selects {
  display: flex;
  gap: 65px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.filter__btn {
  gap: 15px;
  position: relative;
}
.filter__btn button {
  cursor: pointer;
  padding: 17px 16px;
  border: none;
  background-color: transparent;
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 16px;
  display: flex;
  gap: 63px;
}
.filter__btn .arrow {
  margin-left: auto;
}
.filter__btn .showlist {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-height: 324px;
  overflow: hidden;
  flex-direction: column;
}
.filter__btn .showlist.hidden {
  display: none;
}
.filter__btn .showlist input {
  margin: 0 16px 17px;
  min-height: 36px;
  background-image: url("../../../../src/assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 1px solid #c6c6c6;
}
.filter__btn .showlist input:focus {
  outline: none;
}
.filter__btn .showlist__items {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.filter__btn .showlist__items li {
  padding: 9px 16px;
  cursor: pointer;
}
.filter__btn .showlist__items .selectable:hover {
  background-color: #ffd15b;
}
.filter__btn .showlist__items .selected {
  background: #ffd15b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__btn .showlist__items .selected button {
  width: 17px;
  height: 17px;
  margin-right: 20px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__btn .showlist__items .selected:hover {
  font-weight: 700;
}
.filter__btn .showlist__items .selected:hover button {
  background-color: black;
}
.filter__selected {
  display: flex;
  flex-direction: column;
}
.filter__selected li {
  padding: 17px 18px;
  background-color: #ffd15b;
  border-radius: 10px;
  display: flex;
}
.filter__selected li span {
  flex: 1;
}
.filter__selected li .btn-selected {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}
