*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ededed;
  font-family: Anton, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url("../../../../src/assets/banner.jpg");
  background-size: cover;
  background-position: center right;
  text-align: center;
  position: relative;
}
.header__logo {
  position: absolute;
  top: 5%;
  left: 5%;
}
.header p {
  margin: 0 20% 29.42px;
  padding: 132px 0 0;
  color: #ffd15b;
  font-size: clamp(24px, 4vw, 44px);
}
.header .search {
  font-family: Manrope, sans-serif;
  width: 80%;
  height: 72px;
  padding: 0 35px;
  border: none;
  border-radius: 11px;
  margin-bottom: 132px;
}
